<h3><a href="{{url "task#index"}}">Task manager</a></h3>
<button><a href="{{url "task#drop"}}">Clear storage</a></button>
<div class="main-container" id="main-container"></div>

<!--<select class="sort-options">-->
	<!--<option value="">Default</option>-->
	<!--<option value="name">name</option>-->
	<!--<option value="status">status</option>-->
<!--</select>-->

<!--
<div id="grid" class="row-fluid">
	<div class="span3 picture-item" data-groups='["photography"]' data-date-created="2010-09-14" data-title="Ohoh">
		photography
	</div>
	<div class="span6 picture-item" data-groups='["some"]' data-date-created="2010-09-15" data-title="Baseball">
		wallpaper
	</div>
	<div class="span3 picture-item" data-groups='["wallpaper"]' data-date-created="2010-09-10" data-title="Football">
		wallpaper
	</div>
</div>-->
