<h3><a href="{{ url "task#index" id}}">Task list</a></h3>
<form id="task-update-form" class="task {{ status }}">
	<label for="task-name">Task name</label>
	<br />
	<input id="task-name" type="text" name="name" value="{{ name }}" />
	<br />
	<br />
	<label for="task-desc">Task name</label>
	<br />
	<textarea name="description" id="task-desc" cols="30" rows="10">{{ description }}</textarea>
	<br />
	<br />
	<label for="task-status">Task status</label>
	<br />
	<select name="status" id="task-status">
		<option value="new">new</option>
		<option value="done">done</option>
		<option value="inProgress">in progress</option>
	</select>
	<br />
	<br />
	<input class="btn" type="submit" value="Update"/>
</form>